*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* navbar style start */
.logo img{
    height: 100px;
    width: 100px;
}
.navbar-brand:hover{
    color: #212251;
   
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
    color: #212251;
    text-transform: uppercase;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 40px;
    outline: none;
    font-family: 'Rubik', sans-serif;
    margin-right: -35px;
    border: 2px solid rgb(185,32,50);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(185,32,50);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
/* navbar style end */


/* slider style start */
.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}
.carousel-container{
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 0;
    padding-bottom: 50px;
}
/* slider style start */

/* about us style start */
.section .container {
  padding: 5%;
}

.row img {
    height: auto;
    max-width: 100%;
    border-radius: 20px;
  }

.container .thumb img{
    height: auto;
    max-width: 100%;
}
/* about us style end */


/* whats trending style start */
.btn1{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(185,32,50) ;
  color: white;
  font-weight: 700;
  border-radius: 60px;
}
.btn1:hover{
  background-color: rgb(185,32,50) ;
  transition: 0.5s;
}
.h1{
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
}
.card:hover{
  box-shadow: -2px -1px 25px -4px rgb(33,34,81);
  -webkit-box-shadow: -2px -1px 25px -4px rgb(33,34,81);
  -moz-box-shadow: -2px -1px 25px -4px rgb(33,34,81);
  transform: 0.5s;
}
/* whats trending style end */

/* customers style start */
.customers{
  background-color: #f9bb16;
}
/* customers style end */

/* banner style start */
.banner{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./img/banner.jpg)no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
/* customers style end */

/* footer style start */
.news{
  background-color: #212251;
  color: white;
}

.form-control {
  border-radius: 60px;
  height: 100px;
  max-width: fit-content;
}

.btn2{
  height: 46px;
  width: 100px;
  background: white;
  margin-left: -10px;
  border: 2px solid white;
  font-weight: 600;
}
.news input{
  height: 45px;
  width: 55%;
  border: 2px solid white;
  outline: none;
  background: #212251;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}
.news::placeholder{
  color: white;
}
.news p{
  margin: 0;
}
.fab{
  font-size: 2.5rem;
  cursor: pointer;
  padding-right: 5px;
}
/* footer style start */


/* custom scroll bar */

  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track{
    background: #333;
  }
  ::-webkit-scrollbar-thumb{
    background: #f9bb16;
  }
  
  /* jump to top */
  .topbtn
  {
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 30px;
    height: 30px;
    background: #f9bb16;
    color: #fff; 
    cursor: pointer;
  }
